@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Figtree;
    src: url('../../fonts/Figtree/Figtree-Regular.ttf');
}

@font-face {
    font-family: Figtree-light;
    src: url('../../fonts/Figtree/Figtree-Light.ttf');
}
