.inviteMember {
    .inviteMember__addTeam {
        .addTeam__content {
            .addTeam__text {
                @include textStyle(Figtree, $num-14, $dark-1);
            }

            .addTeam__inputGroups {
                width: 85%;

                .addTeam__item {
                    &:nth-child(1) {
                        .inputItem {
                            &:focus {
                                box-shadow: none;
                                border-color: $dark-2;
                            }
                        }
                    }

                    .inputItem {
                        border-color: $dark-2;

                        &::placeholder {
                            @include textStyle(Figtree, $num-14, $dark-3);
                        }

                        &:focus {
                            border-color: $blue-2;
                            box-shadow: none;
                        }
                    }

                    .btnCopy {
                        border-left: none;
                        width: $num-120;
                        @include textStyle(Figtree-light, $num-14, $dark-1);
                        border-color: $dark-2;

                        .svg-inline--fa {
                            margin-right: $num-10;
                        }

                        &:hover {
                            background: $white-1;
                            border-color: $dark-2;
                        }
                    }

                    .btnItem {
                        width: $num-120;
                        border: 1px solid $dark-2;
                        height: $num-36;
                        border-left: none;
                        border-top-right-radius: $num-4;
                        border-bottom-right-radius: $num-4;
                        display: flex;
                        align-items: center;

                        .btnItem__dropdown {
                            height: $num-36;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;

                            .ant-btn {
                                border: none;

                                &:nth-child(1) {
                                    @include textStyle(Figtree, $num-14, $dark-1);
                                }

                                &:nth-child(2) {         
                                    border-radius: $num-4;
                                    margin-right: 1px;
                                    color: $dark-3;

                                    &:hover {
                                        background: $white-1;
                                    }
                                }
                            }
                        }

                        &:focus {
                            border-color: $blue-2;
                        }
                    }
                }
            }

            .addTeam__btnAdd {
                .item__btnAdd {
                    height: $num-40;
                    @include textStyle(Figtree, $num-14, $dark-1);
                    padding: $num-8 $num-16;
                    border: none;
                    box-shadow: none;

                    .fa-plus {
                        font-size: $num-12;
                        color: $dark-1;
                        margin-right: $num-8;
                    }

                    &:hover {
                        background: $white-1;
                    }
                }
            }
        }
    }

    .inviteMember__footer {
        display: flex;
        justify-content: space-between;

        .btnRemind {
            border: none;
            color: $dark-1;

            &:hover {
                background: $white-1;

                a {
                    color: $dark-1;
                }
            }
        }

        .btnInvite {
            border: none;
            background: $white-4;
            color: $dark-4;

            &:hover {
                a {
                    color: $dark-4;
                }
            }
        }
    }
}

.ant-dropdown {
    .ant-dropdown-menu {
        padding: $pd-2;

        .ant-dropdown-menu-item {
            &:hover {
                background: $white-1;
            }

            .ant-dropdown-menu-title-content {
                .dropdownContent__child {
                    display: flex;
                    flex-direction: column;
                    @include textStyle(Figtree, $num-14, $dark-1);

                    span {
                        &:nth-child(2) {
                            color: $dark-3;
                        }
                    }
                }
            }
        }
    }
}