// Colors
$blue-1: #6160FF;
$blue-2: #0073ea;
$blue-3: #0060b9;
$blue-4: #1F76C2;

$dark-0: #000;
$dark-1: #323338;
$dark-2: #c3c6d4;
$dark-3: #676879;

$white-0: #fff;
$white-1: #dcdfec;
$white-2: #d9d9d9;
$white-3: #d0d4e4;

$yellow-1: #FFCC00;

$green-1: #00CA72;

// Numbers
$num-8: 8px; 
$num-10: 10px;
$num-14: 14px;
$num-16: 16px;
$num-24: 24px;
$num-32: 32px;
$num-40: 40px;
$num-48: 48px;
$num-50: 50px;
$num-64: 64px;
$num-128: 128px;
$num-120: 120px;

// RESPONSIVE BREAKPOINTS 
$breakpoints: (
    sm: 575.98px,
    md: 767.98px,
    lg: 991.98px,
    xl: 1199.98px,
    2xl: 1399.98px
);